--output-dir doc
--readme README.md
--main README.md
--markup=markdown
--protected
--private
--no-private
--title "RackJwtAegis Rack Middleware API Documentation"
--charset utf-8
lib/**/*.rb
-
README.md
LICENSE.txt
CODE_OF_CONDUCT.md
